<script src="js/adminhome.js"></script>
<div class="container container-admin">
    <h1>Administration</h1>
    <button class="btn btn-danger" onclick="logout()">Logout</button>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#restock">Restock Ingredients</a></li>
        <li><a data-toggle="tab" href="#employees">Manage Employees</a></li>
        <li><a data-toggle="tab" href="#reports">Generate Reports</a></li>
    </ul>
    <div id="adminTabContent" class="tab-content">
        <div id="restock" class="tab-pane fade in active">
            <form>
                <div class="form-group">
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each garnishes}}
                            <tr>
                                <th scope="row">{{inc @index}}</th>
                                <td>{{name}}</td>
                                <td>{{price}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </form>
            <button type="button" class="btn btn-primary" onclick="restockAll()">Restock</button>
        </div>

        <div id="employees" class="tab-pane fade">
            <form>
                <div class="form-group">
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each employees}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="employeename">Employee Name</label>
                                <input type="text" class="form-control" id="employeename" placeholder="Enter Full Name">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="addEmployee()">Add</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="eid">Employee ID</label>
                                <input type="number" class="form-control" id="eid" placeholder="e.g. 12345678">
                            </div>
                            <button type="button" class="btn btn-primary" onclick="removeEmployee()">Remove</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
        <div id="reports" class="tab-pane fade">
            <div class="reports-options">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Choose a report
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a data-toggle="tab" href="#whiskeyExperts">Bartenders who served all whiskey drinks</a></li>
                        <li><a data-toggle="tab" href="#whiskeyServedByAll">Whisky drinks served by all bartenders</a></li>
                        <li><a data-toggle="tab" href="#top5">Frequently ordered drinks</a></li>
                        <li><a data-toggle="tab" href="#report3">Profit loss statement</a></li>
                    </ul>
                </div>
            </div>
            <div id="reportsTabContent" class="tab-content">
                <div id="whiskeyExperts" class="tab-pane fade">
                    <h3>Whiskey Experts</h3>
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each whiskeyBartenders}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div id="whiskeyServedByAll" class="tab-pane fade">
                    <h3>Whiskey Drinks Expertise</h3>
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th>Drink</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each whiskeyservedbyall}}
                            <tr>
                                <td>{{name}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div id="top5" class="tab-pane fade">
                    <h3>Frequently Ordered Drinks</h3>
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th>Drink</th>
                            <th>Orders</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each top5Drinks}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{total}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div id="report3" class="tab-pane fade">
                    <h3>Profit Loss Statement</h3>
                    <table class="table">
                        <thead class="thead-default">
                        <tr>
                            <th>Drink</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>MockWhisky</td>
                            <td>354</td>
                        </tr>
                        <tr>
                            <td>MockVodka</td>
                            <td>234</td>
                        </tr>
                        <tr>
                            <td>MockBeer</td>
                            <td>146</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>