<script src="/js/bartenderhome.js"></script>
<h1 id="employeeWelcomeText">Welcome</h1>
<button class="btn btn-danger" onclick="logout()">Logout</button>
    <tr id="openorders-table-container">
        <h3>Open Orders</h3>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Order #</th>
                <th>Customer</th>
                <th>Table #</th>
                <th>Notes</th>
                <th></th>
                <th class="complete-order-button-cell"></th>
            </tr>
            </thead>
            <tbody>
            {{#each openOrders}}
                <tr id="{{concatStrings this.0.order_no "_row"}}">
                    <td>{{this.0.order_no}}</td>
                    <td>{{this.0.cust_name}}</td>
                    <td>{{this.0.table_no}}</td>
                    <td>{{this.0.notes}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDrinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Drinks
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownDrinks">
                                {{#each this}}
                                    <li><a>{{name}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </td>
                    <td class="complete-order-checkbox-cell"><button id="{{concatStrings this.0.order_no "_btn"}}" type="button" class="btn btn-primary" onclick="this.disabled=true;updateOpenOrder({{this.0.order_no}});">Complete</button></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div id="orderhistory-table-container">
        <h3>History</h3>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Date</th>
                <th>Order #</th>
                <th>Customer</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each ordersHistory}}
                <tr>
                    <td>{{getDateFromTS this.0.date_time}}</td>
                    <td>{{this.0.order_no}}</td>
                    <td>{{this.0.cust_name}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDrinksHistory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Drinks
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownDrinksHistory">
                                {{#each this}}
                                    <li><a>{{drink}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</form>