<script src="/js/bartenderhome.js"></script>
<h1 id="employeeWelcomeText">Welcome</h1>
<button class="btn btn-danger" onclick="logout()">Logout</button>
    <div id="openorders-table-container">
        <h3>Open Orders</h3>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Order #</th>
                <th>Customer</th>
                <th>Table #</th>
                <th>Drink</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {{#each openOrders}}
                <tr>
                    <td>{{order_no}}</td>
                    <td>{{cust_name}}</td>
                    <td>{{table_no}}</td>
                    <td>{{name}}</td>
                    <td>{{notes}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div id="orderhistory-table-container">
        <h3>History</h3>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Date</th>
                <th>Order #</th>
                <th>Customer</th>
                <th>Drink</th>
            </tr>
            </thead>
            <tbody>
            {{#each ordersHistory}}
                <tr>
                    <td>{{date_time}}</td>
                    <td>{{order_no}}</td>
                    <td>{{cust_name}}</td>
                    <td>{{drink}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Refill</button>
</form>