<script src="/js/bartenderhome.js"></script>
<div class="alert collapse"></div>
<div id="bartender-content" class="container collapse">
    <div class="bartender-header employee-header">
        <h1 id="employeeWelcomeText">Welcome</h1>
        <button id="btn-logout" class="btn btn-danger" onclick="logout()">Logout</button>
    </div>
    <div id="openorders-table-container">
        <h3>Open Orders</h3>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Order #</th>
                <th>Customer</th>
                <th>Table #</th>
                <th>Notes</th>
                <th></th>
                <th class="complete-order-button-cell"></th>
            </tr>
            </thead>
            <tbody>
            {{#each openOrders}}
                <tr id="{{concatStrings order_no "_row"}}">
                    <td>{{order_no}}</td>
                    <td>{{cust_name}}</td>
                    <td>{{table_no}}</td>
                    <td>{{notes}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDrinks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Drinks
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownDrinks">
                                {{#each drinks}}
                                    <li>
                                        <a>
                                        {{#each this}}
                                            {{this}} {{@key}}
                                        {{/each}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </td>
                    <td class="complete-order-checkbox-cell"><button id="{{concatStrings order_no "_btn"}}" type="button" class="btn btn-primary" onclick="this.disabled=true;updateOpenOrder({{order_no}});">Complete</button></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div id="orderhistory-table-container">
        <h3>History</h3>
        <table class="table">
            <thead class="thead-default">
            <tr>
                <th>Date</th>
                <th>Order #</th>
                <th>Customer</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each ordersHistory}}
                <tr>
                    <td>{{getDateFromTS date_time}}</td>
                    <td>{{order_no}}</td>
                    <td>{{cust_name}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownDrinksHistory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Drinks
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownDrinksHistory">
                                {{#each drinks}}
                                    <li>
                                        <a>
                                            {{#each this}}
                                                {{this}} {{@key}}
                                            {{/each}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>