<script src="/js/customdrink.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/bootstrap-horizon.css">
<link rel="stylesheet" href="/css/styles.css">
<html>
<div class = "container">

    <div class="modal" id="infoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Yo</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>

    <div class ="row">
        <div class ="col-md-12">
            <h3>Spirits and Liqueors</h3>
            <div class="row-horizon equalize">
                {{#each alcoholic}}
                    <div class="col-sm-3 equalize">
                        <div class="thumbnail clearfix">
                            <a class ="add-item" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <h4 class="drink-type">{{this.type}}</h4>
                            <a class ="modal-button" href="#" role="button" onclick="showInfoModal('{{this.name}}')">
                                <img src="/images/abc.jpg">
                                <div>
                                    <div class="custom-drink-info">
                                        <h3>{{this.name}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
            <h3>Mixers</h3>
            <div class="row row-horizon transparent">
                {{#each nonalcoholic}}
                    <div class="col-sm-3 equalize">
                        <div class="thumbnail clearfix">
                            <a class ="add-item" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <a class ="modal-button" href="#" role="button" onclick="showInfoModal('{{this.name}}')">
                                <img src="/images/abc.jpg">
                                <div>
                                    <div class="custom-drink-info">
                                        <h3>{{this.name}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
            <h3>Garnishes</h3>
            <div class="row row-horizon transparent">
                {{#each garnish}}
                    <div class="col-sm-3 equalize">
                        <div class="thumbnail clearfix">
                            <a class ="add-item" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <a class ="modal-button" href="#" role="button" onclick="showInfoModal('{{this.name}}')">
                                <img src="/images/abc.jpg">
                                <div>
                                    <div class="custom-drink-info">
                                        <h3>{{this.name}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</html>