<script src="/js/customer.js" type="text/javascript"></script>
<link rel="stylesheet" href="/css/bootstrap-horizon.css">
<link rel="stylesheet" href="/css/styles.css">
<html>
<div class = "container transparent">
    <div class ="row transparent">
        <div class ="col-md-12 transparent">
            <h3>Alcoholic</h3>
            <div class="row row-horizon transparent">
                {{#each alcoholic}}
                    <div class="col-sm-2 transparent">
                        <img src="/images/abc.jpg" class="thumbnail"></img>
                        {{this.name}} <br>
                        {{this.type}} <br>
                        {{this.abv}} <br>
                    </div>
                {{/each}}
            </div>
            <div>
                <h3>NonAlcoholic</h3>
                {{#each nonalcoholic}}
                    {{this.name}}<br>
                {{/each}}
                <h3>Garnish</h3>
                {{#each garnish}}
                    {{this.name}}</br>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</html>